<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Payment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Make a Payment</h1>

    <form id="payment-form">
        <div id="card-element"></div> <!-- Stripe Element for card -->
        <button type="submit">Pay</button>
        <div id="payment-error" role="alert"></div>
    </form>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/main.js"></script>
</body>

</html>
