<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Traffic Offense Management System</title>
    <link rel="stylesheet" href="/FrontEnd/assets/css/styles.css" />
    <link rel="stylesheet" href="/FrontEnd/assets/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <header class="header">
        <!-- <h1>TOMS</h1> -->
        <nav class="navbar">
          <a href="index.html">Home</a>
        </nav>
      </header>
    </div>
    <div class="login-container">
      <h2>
        Register to the <br />
        Traffic Offense Management System
      </h2>
      <form id="register-form">
        <label for="role">Select Role:</label>
        <select id="role" name="role" required>
          <option value="" disabled selected>Select your role</option>
          <option value="police">Police</option>
          <option value="driver">Driver</option>
        </select>

        <label id="licenseId" for="license">License Number:</label>
        <input
          type="text"
          id="license"
          name="license"
          placeholder="Enter your license number"
          required
        />
        <label id="namelabel" for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
        />
        <label id="emaillabel" for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <label id="contactNumberlabel" for="contactNumber"
          >Contact Number:</label
        >
        <input
          type="number"
          id="contactNumber"
          name="contactNumber"
          placeholder="Enter your contact number"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />

        <button type="submit">Register</button>
      </form>
      <p>
        You will need either your Police's License or Driver's License to
        Register.
      </p>
    </div>

    <script type="module" src="/FrontEnd/js/auth.js"></script>
  </body>
</html>
