<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driver Dashboard - Traffic Offense Management</title>
    <link rel="stylesheet" href="/FrontEnd/assets/css/styles.css" />
    <link rel="stylesheet" href="/FrontEnd/assets/css/driver-dashboard.css" />
    <script src="/FrontEnd/js/Risk-Meter/raphael-2.1.4.min.js"></script>
    <script src="/FrontEnd/js/Risk-Meter/justgage.js"></script>
  </head>
  <body>
    <div class="mainContainer">
      <div class="loader"></div>
    </div>
    <div class="driver-dashboard-container">
      <header>
        <h1>Driver Dashboard</h1>
        <nav>
          <ul>
            <li><a href="/FrontEnd/views/index.html">Logout</a></li>
          </ul>
        </nav>
      </header>
      <div class="greeting">
        <div class="welcome">
          <h1 id="greeting-text">Good Morning !</h1>
          <h2>License Number: <span id="license-number"></span></h2>
        </div>
        <div class="risk-meter">
          <div id="gauge" class="gauge"></div>
        </div>
      </div>

      <section id="offense-list">
        <h2>Your Offenses</h2>
        <table>
          <thead>
            <tr>
              <th>Offense Description</th>
              <th>Fine Amount</th>
              <th>Location</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="offenses">
            <!-- Current offenses will be dynamically added here -->
          </tbody>
        </table>
        <!-- Pagination container for current offenses -->
        <div id="offense-pagination" class="pagination"></div>
      </section>

      <section id="past-offense-list">
        <h2>Past Offenses</h2>
        <table>
          <thead>
            <tr>
              <th>Offense Description</th>
              <th>Fine Amount</th>
              <th>Location</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="past-offenses">
            <!-- Past offenses will be dynamically added here -->
          </tbody>
        </table>
        <!-- Pagination container for past offenses -->
        <div id="past-offense-pagination" class="pagination"></div>
      </section>
    </div>

    <script type="module" src="/FrontEnd/js/driverDashboard.js"></script>
  </body>
</html>
